@font-face {
			font-family: 'Noto Sans Symbols 2';
			src: url('NotoSansSymbols2-Regular.ttf') format('truetype');
			font-weight: normal;font-style: normal;font-display: swap;
		}
   body {font-family: sans-serif,'Noto Sans Symbols 2'; background:green;padding:0;margin:0;}
    p, p>a {color:white;}
    div.row {display:flex; position:relative; justify-content:space-evenly;}
    div.a {position:absolute;background:red;color:white;top:40%;left:40%;padding:1vw;font-size:3vw;}
    div.c {height:80vw;width:12.5vw;position:relative;padding:0;border:0;margin:0;}
    .r {color:red;}
    .b {color:black;}
    h2{font-size:3vw;padding:0;margin:0;font-weight:bold;}
    h1{font-size:8vw;padding:0;margin:0;font-weight:normal;text-align: center;}
    .card {
      background: white;
      padding: 0.5vw;margin:0;
      border-style: solid;
      border-radius: 1vw;
      border-color:black; border-width:0.5vw;
      width:10vw; 
      height:17vw;
      }

