@font-face {
	font-family: 'Noto Sans Symbols 2';
	src: url('/NotoSansSymbols2-Regular.ttf') format('truetype');
	font-weight: normal;font-style: normal;font-display: swap;
}
body {font-family: sans-serif,'Noto Sans Symbols 2'; background:green;padding:0;margin:0;}
p, p>a {color:white;}
img {width:100%;-webkit-user-drag: none;}
div.row {display:flex; flex-wrap:nowrap; flex-direction:row; justify-content:space-evenly;}
div.c {height:200vw;width:12.5%;position:relative;margin:0;border:0;}
div.c10 {height:80vw;width:10%;position:relative;margin:0;border:0;}
.r {color:red;}
.b {color:black;}
h2{font-size:4vw;padding:0;margin:0;font-weight:bold;position:relative; top:-0.5vw;}
h1{font-size:8vw;line-height:1.2; padding:0;margin:0;font-weight:normal;text-align: center;position:relative; top:-2vw;}
.card {
  background: white;
  padding: 0 0.2vw;margin:0;
  box-sizing: border-box;
  width:12vw;
  border-style: solid;
  border-radius: 1vw;
  border-color:black; border-width:0.5vw;
  aspect-ratio: 7 / 10;
}
.cell {width:12vw;aspect-ratio: 7/10;}
.redborder {border-color:red !important;}
.blueborder {border-color:blue !important;}
/* Container needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.buttons {
  position: relative;
  display: inline-block;
}

/* Style the clickable menu button */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 12px 12px;
  font-size: 16px;
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the button when active */
.dropdown:hover .dropbtn {
  background-color: #2980b9;
}



